<h1>Edit user...</h1>

<%= form_for users_path do |f| %>
    User name: <%= f.text_field :username, value: @user.username %><br />
    email: <%= f.email_field :email, value: @user.email %><br />
    password: <%= f.password_field :password, value: @user.password %><br />
    <%= f.submit %>
  <% end %>

