<h1>Edit user...</h1>

<%= form_for @user do |f| %>
    User name: <%= f.text_field :username %><br />
    email: <%= f.text_field :email %><br />
    password: <%= f.password_field :password %><br />
    <%= f.submit %>
  <% end %>

